build
testvectors/commit.bin
testvectors/verifier.dat
testvectors/constantstree.bin
testvectors/stark.json
testvectors/stark.json.zkin.json
testvectors/starkverifier_0001.zkey
testvectors/keccak_pols.json
testvectors/output
testvectors/witness.wtns
testvectors/constants.bin
testvectors/zkevm.*
testvectors/basic.*
config/c12a/*
config/final/*
config/recursive*/*
config/zkevm/*
config/tmp
runtime/*
!runtime/README.md
